@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


:root{
    --color-uno: #081930;
    --color-dos: #42e5fd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.register__arriendos_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--color-uno);
}

.register__arriendos_form{
    width: 50%;
    height: 50%;
    border-radius: 20px;
}



.form-group .label{
    background-color: var(--color-uno);
    display: flex;
    align-items: center;
    place-content: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.form-group .input{
    padding: 10%;
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.form-group .input h2{
    color: #fff;
    font-size: 50px;
    margin: 20px;
}


.register__arriendos_form label{
    color: var(--color-dos);
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 40px;
}

.register__arriendos_form input{
    outline: none;
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
    width: 100%;
    margin: auto;
}

.nextbutton,
.backbutton{
    width: 50px;
    background: var(--color-dos);
    border: none;
    border-radius: 70%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin: 0 20px ;
}

.register__arriendos_form span{
    color: #fff;
    font-size: 30px;
    margin: 20px ;
}

.register__arriendos_form textarea{
    padding: 10px;
    width: 100%;
    margin: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 40px;
}

.register__arriendos_form .button-section{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;   
}

.register__arriendos_form .prev-button,
.register__arriendos_form .next-button,
.register__arriendos_form .register-button{
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--color-dos);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin: 0 20px ;
}


.register__arriendos_form .boton button:hover{
    transform: scale(1.2);
    color: var(--color-uno);
}


.alerta{
    background: var(--color-dos);
    color: var(--color-uno);
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
}


