* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-uno: #081930;
    --color-dos: #42e5fd;
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--color-uno);
    color: #fff;
    height: 100vh;
    align-content: center;
}

.home__imagen {
    width: 70%;
    margin: auto;
}

.home__imagen img {
    width: 100%;
}

.home__descripcion {
    width: 80%;
    margin: auto;
}

.home__descripcion .home__title {
    color: var(--color-dos);
    text-align: center;
    margin: 20px;
    font-size: 50px;
}

.home__descripcion p{
    text-align: center;
    font-size: 30px;
}


.home__botones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px auto;
    text-align: center;
}

.home__boton {
    width: 50%;
    font-size: 20px;

    padding: 5px;
    background: var(--color-dos);
    color: var(--color-uno);
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.home__boton:hover {
    transform: scale(1.2);
    color: var(--color-uno);
    background: #fff;
    font-weight: bold;
}



@media screen and (max-width: 960px) {
    .home {
        grid-template-columns: 1fr;
    }

    .home__descripcion .home__title {
        color: var(--color-dos);
        text-align: center;
        margin: 20px;
        font-size: 30px;
    }
    
    .home__descripcion p{
        text-align: center;
        font-size: 20px;
    }
    

    .home__botones{
        display: flex;
        flex-direction: column;
    }

    .home__boton{
        margin: 10px;
    }
}