@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


:root{
    --color-uno: #081930;
    --color-dos: #42e5fd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.user{
    color: #fff;
}
.listar__container{
    background: var(--color-uno);
}

.lista{
    padding: 20px;
}

.listar__container .lista{
    width: 70%;
    margin: auto;
}


.card_container {
    padding: 20px;
}

.card_container .card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 85%;
    margin: 20px auto;
    border:1px solid var(--color-dos);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}

.card_container .card .card_imagen{
    width: 70%;
    height: 250px;
    margin: auto;
    background: red;
}

.card_container .card .card_imagen img{
    width: 100%;
    height: 100%;
}

.card_container .card .card_descripcion {
    margin: 20px ;
}
.card_container .card .card_descripcion h1{
    text-align: center;
}

.card_container .card .card_descripcion p{
    margin: 5px;
}

.post_button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    font-weight: bold;
    background: var(--color-dos);
    color: var(--color-uno);
   
}


.post{
    margin: 0 10px ;
}


.lista button{
    margin: auto ;
    display: flex;
    justify-content: center;
    background: var(--color-dos);

    color: var(--color-uno);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    place-items: center;

}


.lista button:hover{
    transform: scale(1.2);
    color: var(--color-uno);
    background: #fff;
}