@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


:root{
    --color-uno: #081930;
    --color-dos: #42e5fd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.register__usuario_container,
.login__usuario_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--color-uno);
}

.register_img,
.login_img{
    width: 80%;
    margin: auto;
}

.register_img img,
.login_img img{
    width: 100%;
}

.register__usuario_form,
.login__usuario_form{
    width: 90%;
    padding: 20px;
    border-radius: 20px;
}

.register__usuario_form form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.register__usuario_form h1,
.login__usuario_form h1{
    color: var(--color-dos);
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

.register__usuario_form div,
.login__usuario_form div{
    width: 80%;
    margin: auto;
    padding: 10px;
}

.register__usuario_form label,
.login__usuario_form label{
    color: var(--color-dos);
    font-weight: bold;
    display: block;
    text-align: center;
}

.register__usuario_form input,
.login__usuario_form input{
    padding: 10px;
    width: 100%;
    margin: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
}

.register__usuario_form .boton,
.login__usuario_form .boton{
    width: 50%;
    display: flex;
    justify-content: center;
    
}
.register__usuario_form .boton button,
.login__usuario_form .boton button{
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--color-dos);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;

}


.register__usuario_form .boton button:hover,
.login__usuario_form .boton button:hover{
    transform: scale(1.2);
    color: var(--color-uno);
    background: #fff;
}

.register__usuario_form  .iniciarSesion,
.login__usuario_form .registrarUsuario{
    text-align: center;
    margin: 20px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    
}

.alerta{
    background: var(--color-dos);
    color: var(--color-uno);
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
}

/* Agregar estilo para ocultar elemento */
.hidden {
    display: none;
}


@media screen and (max-width: 960px) {
    .register__usuario_container,
    .register__usuario_form form{
        grid-template-columns: 1fr;
        height: 100%;
    }

    .register_img{
        margin: auto;
    }

    .register__usuario_form div{
        width: 95%;
        margin: auto;
        padding: 10px;
    }
}